<% raise 'Could not find linked image content' if (local_assigns['url'] && local_assigns['image']).nil? %>

<a href="<%= local_assigns['url'] %>">
    <img src="<%= local_assigns['image'] %>" /> 
</a>

<br /><br /><br />