<ul>
  <% @concepts.each do |concept| %>
    <% next if concept.ignore_in_list %>
    <li><a href="<%= concept.url %>"><%= concept.title %></a>: <%= concept.description.render_markdown.gsub(%r{^<p>},'').gsub(%r{^</p>}, '').strip %></li>
  <% end %>
</ul>
