openapi: "3.0.0"
info:
  version: 0.1.0
  title: External Accounts
  description: 'The external accounts API is a new API that creates accounts for VSM, Messenger and Whatsapp which will be used by the Messages and Workflows APIs. (https://developer.nexmo.com/messages-and-workflows-apis/messages/overview)'
  x-label: Developer Preview
servers:
  - url: https://api.nexmo.com/beta/chatapp-accounts

paths:
  /messenger:
    post:
      security:
        - bearerAuth: []
        - basicAuth: []
      summary: Create a Messenger account
      operationId: CreateMessengerAccount
      x-group: messenger
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: 
              - external_id
              - access_token
              properties:
                external_id:
                  type: string
                  example: "12345678"
                access_token:
                  type: string
                  example: "myAccessToken"
                name:
                  type: string
                  example: "optionalName" # optional
                applications:
                  type: array
                  items:
                    type: string
                  example: ["optionalApplicationId"]
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessengerAccountResponse'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "https://www.nexmo.com/messages/Errors#InvalidParams"
                  title:
                    type: string
                    example: "Your request parameters didn't validate."
                  detail:
                    type: string
                    example: "Found errors validating 1 of your submitted parameters."
                  instance:
                    type: string
                    example: null
                  invalid_params:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        name:
                          type: string
                          example: "external_id"
                        reason:
                          type: string
                          example: "Missing `external_id` field"
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Response'
  /messenger/{external_id}:    
    get:
      security:
        - bearerAuth: []
        - basicAuth: []
      summary: Retrieve a Messenger account
      operationId: GetMessengerAccount
      x-group: messenger
      parameters:
        - in: path
          name: external_id
          schema:
            type: string
          required: true
          description: External id of the account you want to retrieve
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessengerAccountResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
        '404':
          description: Not Found.
    patch:
      security:
        - bearerAuth: []
        - basicAuth: []
      summary: Update a Messenger account
      operationId: UpdateMessengerAccount
      x-group: messenger
      parameters:
        - in: path
          name: external_id
          schema:
            type: string
          required: true
          description: External id of the account you want to update
      requestBody:
        description: Request body can contain any of the following
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "newName"
                applications:
                  type: "array"
                  items:
                    type: string
                  example: ["newApplicationId"]

                access_token:
                  type: string
                  example: "updatedAccessToken"
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                required: 
                - external_id
                - api_key
                - provider
                - access_token
                properties:
                  name:
                    type: string
                    example: "newName"
                  applications:
                    type: "array"
                    items:
                      type: string
                    example: ["newApplicationId"]
                  external_id:
                    type: string
                    example: "12345678"
                  api_key:
                    type: string
                    example: "abcd1234"
                  provider:
                    type: string
                    example: messenger
                  access_token:
                    type: string
                    example: "updatedAccessToken"
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "https://www.nexmo.com/messages/Errors#InvalidParams"
                  title:
                    type: string
                    example: "Your request parameters didn't validate."
                  detail:
                    type: string
                    example: "Found errors validating 1 of your submitted parameters."
                  instance:
                    type: string
                    example: null
                  invalid_params:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        name:
                          type: string
                          example: "external_id"
                        reason:
                          type: string
                          example: "'external_id' parameter cannot be changed"
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Response'
        '404':
          description: Not Found.
    delete:
      security:
        - bearerAuth: []
        - basicAuth: []
      summary: Delete a Messenger account
      operationId: DeleteMessengerAccount
      x-group: messenger
      parameters:
        - in: path
          name: external_id
          schema:
            type: string
          required: true
          description: External id of the account you want to delete
      responses:
        '204': 
          description: No Content.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Response'
        '404':
          description: Not Found.
  /viber_service_msg/{external_id}:    
    get:
      security:
        - bearerAuth: []
        - basicAuth: []
      summary: Retrieve a Viber Service Message account
      operationId: GetVSMAccount
      x-group: viber_service_msg
      parameters:
        - in: path
          name: external_id
          schema:
            type: string
          required: true
          description: External id of the account you want to retrieve
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VSMAccountResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
        '404':
          description: Not Found.
  /whatsapp/{external_id}:    
    get:
      security:
        - bearerAuth: []
        - basicAuth: []
      summary: Retrieve a Whatsapp account
      operationId: GetWAAccount
      x-group: whatsapp
      parameters:
        - in: path
          name: external_id
          schema:
            type: string
          required: true
          description: External id of the account you want to retrieve
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAAccountResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
        '404':
          description: Not Found.
  /:
    get:
      security:
        - bearerAuth: []
        - basicAuth: []
      summary: Retrieve all accounts you own
      operationId: GetAllAccounts
      x-group: account
      parameters:
        - in: query
          name: provider
          schema:
            type: string
            enum:
              - messenger
              - viber_service_msg
              - whatsapp
          required: false
          description: Filter by provider
        - in: query
          name: page_number
          schema:
            type: integer
            example: 1
            default: 1
          required: false
          description: Page number of the results
        - in: query
          name: page_size
          schema:
            type: integer
            example: 1
            default: 20
          required: false
          description: Page size of the results
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page_number:
                    type: integer
                    example: 1
                  page_size:
                    type: integer
                    example: 10
                  _embedded:
                    type: "array"
                    items:
                      $ref: '#/components/schemas/GetAllAccountResponse'
                  _links:
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            example: "https://api.nexmo.com/beta/chatapp-accounts?page_number=1&page_size=10"
                      next:
                        type: object
                        properties:
                          href:
                            type: string
                            example: "https://api.nexmo.com/beta/chatapp-accounts?page_number=3&page_size=10"
                      prev:
                        type: object
                        properties:
                          href:
                            type: string
                            example: "https://api.nexmo.com/beta/chatapp-accounts?page_number=1&page_size=10"
                      first:
                        type: object
                        properties:
                          href:
                            type: string
                            example: "https://api.nexmo.com/beta/chatapp-accounts?page_number=1&page_size=10"
                      last:
                        type: object
                        properties:
                          href:
                            type: string
                            example: "https://api.nexmo.com/beta/chatapp-accounts?page_number=4&page_size=10"
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
  /{provider}/{external_id}/applications: 
    post:
      security:
        - bearerAuth: []
        - basicAuth: []
      summary: Link application to an account
      operationId: LinkApplication
      x-group: applications
      parameters:
        - in: path
          name: provider
          schema:
            type: string
            enum:
              - messenger
              - viber_service_msg
              - whatsapp
          required: true
          description: Provider of the account you want to assign an application to
        - in: path
          name: external_id
          schema:
            type: string
          required: true
          description: External id of the account you want to assign an application to
      requestBody:
        description: Request body can contain any of the following
        required: true
        content:
          application/json:
            schema:
              type: object
              required: 
              - application
              properties:
                application:
                  type: string
                  example: "myApplication"
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAAccountResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "https://www.nexmo.com/messages/Errors#Forbidden"
                  title:
                    type: string
                    example: "Forbidden"
                  detail:
                    type: string
                    example: "Cannot link application"
        '409':
          description: Conflict.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "https://www.nexmo.com/messages/Errors#Conflict"
                  title:
                    type: string
                    example: "Application conflict"
                  detail:
                    type: string
                    example: "Unable to link application"
  /{provider}/{external_id}/applications/{application_id}: 
    delete:
      security:
        - bearerAuth: []
        - basicAuth: []
      summary: Unlink application from an account
      operationId: UnliWithoutApplicationnkApplication
      x-group: applications
      parameters:
        - in: path
          name: provider
          schema:
            type: string
            enum:
              - messenger
              - viber_service_msg
              - whatsapp
          required: true
          description: Provider of the account you want to unlink an application from
        - in: path
          name: external_id
          schema:
            type: string
          required: true
          description: External id of the account you want to unlink an application from
        - in: path
          name: application_id
          schema:
            type: string
          required: true
          description: Id of the application you want to unlink
      responses:
        '204':
          description: No Content.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "https://www.nexmo.com/messages/Errors#Forbidden"
                  title:
                    type: string
                    example: "Forbidden"
                  detail:
                    type: string
                    example: "Cannot unlink application"
        '409':
          description: Conflict.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "https://www.nexmo.com/messages/Errors#Conflict"
                  title:
                    type: string
                    example: "Application conflict"
                  detail:
                    type: string
                    example: "Unable to unlink application"

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    basicAuth:
      type: http
      scheme: basic

  schemas:
    MessengerAccountResponse:
      type: object
      required: 
        - external_id
        - api_key
        - provider
        - access_token
      properties:
        name:
          type: string
          example: "optionalName"
        applications:
          type: "array"
          items:
            type: string
          example: ["optionalApplicationId"]
        external_id:
          type: string
          example: "12345678"
        api_key:
          type: string
          example: "abcd1234"
        provider:
          type: string
          example: messenger
        access_token:
          type: string
          example: "myAccessToken"
          
    VSMAccountResponse:
      type: object
      required:
      - external_id
      - api_key
      - provider
      properties:
        name:
          type: string
          example: "optionalName"
        applications:
          type: "array"
          items:
            type: string
          example: ["optionalApplicationId"]
        external_id:
          type: string
          example: "12345678"
        api_key:
          type: string
          example: "abcd1234"
        provider:
          type: string
          example: viber_service_msg
          
    WAAccountResponse:
      type: object
      required:
      - external_id
      - api_key
      - provider
      properties:
        name:
          type: string
          example: "optionalName"
        applications:
          type: "array"
          items:
            type: string
          example: ["optionalApplicationId"]
        external_id:
          type: string
          example: "12345678"
        api_key:
          type: string
          example: "abcd1234"
        provider:
          type: string
          example: whatsapp
          
    WAAccountResponseWithoutApplication:
      type: object
      required:
      - external_id
      - api_key
      - provider
      properties:
        name:
          type: string
          example: "optionalName"
        external_id:
          type: string
          example: "12345678"
        api_key:
          type: string
          example: "abcd1234"
        provider:
          type: string
          example: whatsapp
          
    GetAllAccountResponse:
      allOf:
        - $ref: '#/components/schemas/MessengerAccountResponse'
        - $ref: '#/components/schemas/VSMAccountResponse'
        - $ref: '#/components/schemas/WAAccountResponse'
          
    401Response:
      type: object
      properties:
        title:
          type: string
          example: "Unauthorised"
        detail:
          type: string
          example: "Request header 'Authorization' missing / Invalid Token"
    403Response:
      type: object
      properties:
        title:
          type: string
          example: "Wrong authentication - You are not authorised to access this resource"
x-groups:
  applications:
    name: "Application"
    order: 1
    description: Inbound messages to an external account which is linked to an application will be delivered to the applications inbound URL.
  account:
    name: "Account"
    order: 2
    description: An external-account used as the `from` field in Messages API and Dispatch API
  messenger:
    name: "Facebook Messenger"
    order: 3
    description: Facebook Messenger account
  viber_service_msg:
    name: "Viber Service Message"
    order: 4
    description: Viber Service Message account
  whatsapp:
    name: "Whatsapp"
    order: 5
    description: Whatsapp account
