---
openapi: "3.0.0"
info:
  version: "v1"
  title: "Redact"
servers:
  - url: https://api.nexmo.com
security:
  - basicAuth: []
paths:
  /v1/redact/transaction:
    post:
      summary: Redact a specific message
      description: ""
      x-group: transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedactTransaction'
      responses:
        '204':
          description: "Success"
        '401':
          description: "Authentication failure"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: "Authorisation denied"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorPrematureRedaction'
                  - $ref: '#/components/schemas/ErrorUnprovisioned'
        '404':
          description: "No such record"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInvalidId'
        '422':
          description: "Invalid JSON body"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorInvalidJson'
                  - $ref: '#/components/schemas/ErrorUnsupportedProduct'
x-groups:
  transaction:
    name: Transaction
    order: 1
    description: The Redact API can be used to remove personal data from a CDR stored in the Nexmo platform. Personal data held in the platform generally means a person's phone number, and for messages, the body of the message itself.

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  schemas:
   ErrorUnsupportedProduct:
     description: Unsupported Product
     type: object
     properties:
      type:
       type: string
       required: true
       description: Link to error / remediation options
       example: https://developer.nexmo.com/api-errors/redact#invalid-product
      title:
       type: string
       required: true
       description: Generic error message
       example: TO_POPULATE
      detail:
       type: string
       required: false
       description: Additional information about the error
       example: TO_POPULATE
      instance:
       type: string
       required: true
       description: Internal Trace ID
       example: bf0ca0bf927b3b52e3cb03217e1a1ddf

   ErrorPrematureRedaction:
     description: Premature Redaction
     type: object
     properties:
      type:
       type: string
       required: true
       description: Link to error / remediation options
       example: https://developer.nexmo.com/api-errors/redact#premature-redaction
      title:
       type: string
       required: true
       description: Generic error message
       example: TO_POPULATE
      detail:
       type: string
       required: false
       description: Additional information about the error
       example: TO_POPULATE
      instance:
       type: string
       required: true
       description: Internal Trace ID
       example: bf0ca0bf927b3b52e3cb03217e1a1ddf

   ErrorUnprovisioned:
     description: Unprovisioned
     type: object
     properties:
      type:
       type: string
       required: true
       description: Link to error / remediation options
       example: https://developer.nexmo.com/api-errors#unprovisioned
      title:
       type: string
       required: true
       description: Generic error message
       example: TO_POPULATE
      detail:
       type: string
       required: false
       description: Additional information about the error
       example: TO_POPULATE
      instance:
       type: string
       required: true
       description: Internal Trace ID
       example: bf0ca0bf927b3b52e3cb03217e1a1ddf


   ErrorUnauthorized:
     type: object
     properties:
      type:
       type: string
       required: true
       description: Machine readable error type
       example: UNAUTHORIZED
      error_title:
       type: string
       required: true
       description: Error title
       example: Unauthorized

   ErrorInvalidJson:
     type: object
     properties:
      type:
       type: string
       required: true
       description: Link to error / remediation options
       example: https://developer.nexmo.com/api-errors#invalid-json
      title:
       type: string
       required: true
       description: Generic error message
       example: TO_POPULATE
      detail:
       type: string
       required: false
       description: Additional information about the error
       example: TO_POPULATE
      instance:
       type: string
       required: true
       description: Internal Trace ID
       example: bf0ca0bf927b3b52e3cb03217e1a1ddf

   ErrorInvalidId:
     type: object
     properties:
      type:
       type: string
       required: true
       description: Link to error / remediation options
       example: https://developer.nexmo.com/api-errors#invalid-id
      title:
       type: string
       required: true
       description: Generic error message
       example: TO_POPULATE
      detail:
       type: string
       required: false
       description: Additional information about the error
       example: TO_POPULATE
      instance:
       type: string
       required: true
       description: Internal Trace ID
       example: bf0ca0bf927b3b52e3cb03217e1a1ddf

   RedactTransaction:
     type: object
     properties:
       id:
         required: true
         type: string
         description: The transaction ID to redact
       product:
         required: true
         type: string
         example: sms
         description: Product name that the ID provided relates to
         enum:
         - sms
         - voice
         - number-insight
         - verify
         - verify-sdk
         - message
         - workflow
       type:
         required: false
         type: string
         enum:
         - inbound
         - outbound
         example: outbound
         default: outbound
         description: Required if redacting SMS data

x-errors:
  invalid-product:
    description: The provided product is invalid
    resolution: Modify your request to provide a valid product
    link:
      text: View API reference
      url: /api/redact#transaction

  premature-redaction:
    description: There is a 1 hour time period before data can be redacted to allow for all data to propogate through the Nexmo system
    resolution: Wait until the data becomes valid for redaction
