---
openapi: "3.0.0"
info:
  version: "v1"
  title: "Redact"
servers:
  - url: https://api.nexmo.com
paths:
  /v1/redact/transaction:
    post:
      summary: Redact a specific message
      description: ""
      x-group: transaction
      parameters:
        - name: api_key
          description: Your API key
          required: true
          in: query
          example: abcd1234
          schema:
            type: string
            minLength: 8
            maxLength: 8
        - name: api_secret
          description: Your API secret. Required unless `sig` is provided
          required: false
          in: query
          example: abcdef0123456789
          schema:
            type: string
            minLength: 16
            maxLength: 16
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedactTransaction'
      responses:
        '204':
          description: "Success"
        '401':
          description: "Authentication failure"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: "Authorisation denied"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorPrematureRedaction'
                  - $ref: '#/components/schemas/ErrorUnprovisioned'
        '404':
          description: "No such record"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInvalidId'
        '422':
          description: "Invalid JSON body"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorInvalidJson'
                  - $ref: '#/components/schemas/ErrorUnsupportedProduct'
        '429':
          description: "Rate Limited"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorThrottled'
x-groups:
  transaction:
    name: Transaction
    order: 1
    description: The Redact API can be used to remove personal data from a CDR stored in the Nexmo platform. Personal data held in the platform generally means a person's phone number, and for messages, the body of the message itself.

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  schemas:
   ErrorUnsupportedProduct:
     description: Unsupported Product
     type: object
     properties:
      type:
       type: string
       required: true
       description: Link to error / remediation options
       example: https://developer.nexmo.com/api-errors/redact#invalid-product
      title:
       type: string
       required: true
       description: Generic error message
       example: Invalid Product
      detail:
       type: string
       required: false
       description: Additional information about the error
       example: No product corresponding to supplied string sms2!
      instance:
       type: string
       required: true
       description: Internal Trace ID
       example: bf0ca0bf927b3b52e3cb03217e1a1ddf

   ErrorPrematureRedaction:
     description: Premature Redaction
     type: object
     properties:
      type:
       type: string
       required: true
       description: Link to error / remediation options
       example: https://developer.nexmo.com/api-errors/redact#premature-redaction
      title:
       type: string
       required: true
       description: Generic error message
       example: Premature Redaction
      detail:
       type: string
       required: false
       description: Additional information about the error
       example: You must wait 60 minutes before redacting ID '0A000000B0C9A1234'
      instance:
       type: string
       required: true
       description: Internal Trace ID
       example: bf0ca0bf927b3b52e3cb03217e1a1ddf

   ErrorUnprovisioned:
     description: Unprovisioned
     type: object
     properties:
      type:
       type: string
       required: true
       description: Link to error / remediation options
       example: https://developer.nexmo.com/api-errors#unprovisioned
      title:
       type: string
       required: true
       description: Generic error message
       example: Authorisation error
      detail:
       type: string
       required: false
       description: Additional information about the error
       example: User=ABC123 is not provisioned to redact product=SMS
      instance:
       type: string
       required: true
       description: Internal Trace ID
       example: bf0ca0bf927b3b52e3cb03217e1a1ddf


   ErrorUnauthorized:
     type: object
     properties:
      type:
       type: string
       required: true
       description: Machine readable error type
       example: UNAUTHORIZED
      error_title:
       type: string
       required: true
       description: Error title
       example: Unauthorized

   ErrorInvalidJson:
     description: Invalid JSON
     type: object
     properties:
      type:
       type: string
       required: true
       description: Link to error / remediation options
       example: https://developer.nexmo.com/api-errors#invalid-json
      title:
       type: string
       required: true
       description: Generic error message
       example: Invalid JSON
      detail:
       type: string
       required: false
       description: Additional information about the error
       example: "Unexpected character ('\"' (code 34)): was expecting comma to separate Object entries"
      instance:
       type: string
       required: true
       description: Internal Trace ID
       example: bf0ca0bf927b3b52e3cb03217e1a1ddf

   ErrorInvalidId:
     type: object
     properties:
      type:
       type: string
       required: true
       description: Link to error / remediation options
       example: https://developer.nexmo.com/api-errors#invalid-id
      title:
       type: string
       required: true
       description: Generic error message
       example: Invalid ID
      detail:
       type: string
       required: false
       description: Additional information about the error
       example: ID '0A000000B0C9A1234' could not be found (type=MT)
      instance:
       type: string
       required: true
       description: Internal Trace ID
       example: bf0ca0bf927b3b52e3cb03217e1a1ddf

   ErrorThrottled:
     type: object
     properties:
      type:
       type: string
       required: true
       description: Link to error / remediation options
       example: https://developer.nexmo.com/api-errors/redact#rate-limit
      title:
       type: string
       required: true
       description: Generic error message
       example: Rate Limit Hit
      detail:
       type: string
       required: false
       description: Additional information about the error
       example: Please wait, then retry your request
      instance:
       type: string
       required: true
       description: Internal Trace ID
       example: bf0ca0bf927b3b52e3cb03217e1a1ddf

   RedactTransaction:
     type: object
     properties:
       id:
         required: true
         type: string
         description: The transaction ID to redact
       product:
         required: true
         type: string
         example: sms
         description: Product name that the ID provided relates to
         enum:
         - sms
         - voice
         - number-insight
         - verify
         - verify-sdk
         - message
         - workflow
       type:
         required: false
         type: string
         enum:
         - inbound
         - outbound
         example: outbound
         default: outbound
         description: Required if redacting SMS data

x-errors:
  invalid-product:
    description: The provided product is invalid
    resolution: Modify your request to provide a valid product
    link:
      text: View API reference
      url: /api/redact#transaction

  premature-redaction:
    description: There is a 1 hour time period before data can be redacted to allow for all data to propagate through the Nexmo system
    resolution: Wait until the data becomes valid for redaction

  rate-limit:
    description: The request was rate limited
    resolution: The Redact API supports 170 requests per second. Slow down your request rate
