---
openapi: "3.0.0"
info:
  version: "v1"
  title: "Redaction"
servers:
  - url: https://api.nexmo.com
security:
  - basicAuth: []
paths:
  /v1/redact/transaction:
    post:
      summary: Redact a specific message
      description: ""
      x-group: transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedactTransaction'
      responses:
        '204':
          description: "Success"
        '400':
          description: "Incorrect product specified"
          content:
            application/json:
              schema:
                oneOf:
                    $ref: '#/components/schemas/ErrorUnsupportedProduct'
                    $ref: '#/components/schemas/ErrorUser'
        '401':
          description: "Authentication failure"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUser'
        '403':
          description: "Authorisation denied"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUser'
        '404':
          description: "No such record"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUser'
x-groups:
  transaction:
    name: Transaction
    order: 1
    description: The Redact API can be used to remove personal data from a CDR stored in the Nexmo platform. Personal data held in the platform generally means a person's phone number, and for messages, the body of the message itself.

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  schemas:
   ErrorUnsupportedProduct:
     type: object
     properties:
      type:
       type: string
       required: true
       description: Link to error / remediation options
       example: https://developer.nexmo.com/api-errors/redaction#invalid-product
      title:
       type: string
       required: true
       description: Generic error message
       example: 
      detail:
       type: string
       required: false
       description: Additional information about the error
       example: 
      instance:
       type: string
       required: true
       description: Internal Trace ID
       example: bf0ca0bf927b3b52e3cb03217e1a1ddf


   ErrorUser:
     type: object
     properties:
      type:
       type: string
       required: true
       description: Link to error / remediation options
       example: https://developer.nexmo.com/api-errors/redaction#invalid-product
      title:
       type: string
       required: true
       description: Generic error message
       example: 
      detail:
       type: string
       required: false
       description: Additional information about the error
       example: 
      instance:
       type: string
       required: true
       description: Internal Trace ID
       example: bf0ca0bf927b3b52e3cb03217e1a1ddf


   ErrorInternal:
     type: object
     properties:
      type:
       type: string
       required: true
       description: Link to error / remediation options
       example: https://developer.nexmo.com/error/internal#internal-error
      title:
       type: string
       required: true
       description: Generic error message
       example: Internal server error
      instance:
       type: string
       required: true
       description: Internal Trace ID
       example: ABC123
   RedactTransaction:
     type: object
     properties:
       id:
         required: true
         type: string
         description: The transaction ID to redact
       product:
         required: true
         type: string
         example: sms
         description: Product name that the ID provided relates to
         enum:
         - sms
         - voice
         - number-insight
         - verify
         - verify-sdk
         - message
         - workflow
       type:
         required: false
         type: string
         enum:
         - inbound
         - outbound
         example: outbound
         default: outbound
         description: Required if redacting SMS data

x-errors:
  invalid-product:
    description: The provided product is invalid
    resolution: Modify your request to provide a valid product
    link:
      text: View API reference
      url: /api/redact#transaction

  premature-redaction:
    description: There is a 1 hour time period before data can be redacted to allow for all data to propogate through the Nexmo system
    resolution: Wait until the data becomes valid for redaction
