.extend-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  justify-content: center;
  > div {
    flex: 1;
    min-width: 300px;
    max-width: 300px;
    height: 300px;
    padding: 20px;
    margin: 10px;
    @include mobile() {
      min-width: 280px;
    }
  }
}

.extend-card {
    position: relative;
    background: $white;
    border: $border;
    border-radius: $radius;
    box-shadow: $shadow;
    margin-bottom: $spacing;
    font-size: 16px;
    img {
        height: 75px;
        padding-bottom: 10px;
    }
    h2 {
        padding-top: 10px;
        font-size: 16px;
        margin: 0;
        color: $text;
        border-top: 2px solid $blue;
        line-height: 30px;
    }
    p {
        padding: 10px 0;
        font-size: 12px;
    }
    > a {
        position: absolute;
        bottom:20px;
        right:20px;
    }
}

.extend-title {
    img {
        display: block;
        padding: 20px 0;
        max-height: 200px;
    }
}
.extend-info-banner {
    position: relative;
    color: white;
    margin-bottom: 50px;
    background: $gray-dark;
    min-height: 250px;
    width: 100%;

    &--content {
        display: flex;
        flex-direction: row;
        padding: 15px;
        width:100%;
        > div {
            flex: 1;
            display: flex;
            margin: 0 10px;
        }

        .description {
            align-items: center;
            font-size: 150%;
            padding:10px;
        }
        .details {
            align-content: center;
            h2 {
                color: white;
                padding-bottom: 10px;
                border-bottom: 1px solid white;
            }
            > div {
                flex: 1;
                align-items: center;
                padding: 20px;
                > ul {
                    list-style: none;
                    padding-left: 0;
                }
            }
        }
    }
}

.extend-content {
    p {
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 900px) {
    .extend-info-banner--content {
        flex-direction: column;
    }
}
