<ul class="Vlt-list Vlt-list--<%= local_assigns['bullet_shape'] %>">
    <% if local_assigns['list'] %>
        <% local_assigns['list'].each do |content| %>
            <li> <%= content['item'].render_markdown %> </li>
        <% end %>
    <% end%>
</ul>