<% if code_language %>
  <span>
    <% language = Nexmo::Markdown::CodeLanguage.find(code_language) %>
    <% if language.label == 'Kotlin' %>
      <img src="<%= "/assets/images/brands/#{language.icon}.svg" %>"/>
    <% else %>
      <svg><use xlink:href="<%= "/assets/images/brands/#{language.icon}.svg##{language.icon}" %>"></use></svg>
    <% end %>
    <span><%= language.label %></span>
  </span>
<% end %>
